<!DOCTYPE html>
<html>
<head>
	<title>hw18 angularjs</title>
</head>
<body>
<div ng-app='gouthami'>
	name:<input ng-model='name'><br/>
	view name:<span ng-bind='name'></span>
	<div ng-controller='project'>
		project-name:<input ng-model='p-name'><br/>
	project-name:<span ng-bind='p-name'></span>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script>
	 angular.module('gouthami',[]);
	 angular.module('gouthami').controller('project',function($scope) {
	 	// body...

	 })
</script>
</body>
</html>